body {
	color: red;
	font-family: helvetica, times, serif;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	color: beige;
}

p {
	font-family: helvetica, times, serif;
	color: red;
}

.list{
	font-family: Arial, Times, sans-serif;
	border: 2px solid purple;
	text-align: center;
	margin: auto;
	background-color: yellow;
	color: slategray;
}